<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMMVBySMuY948q4XPEHbuNizLkvwMHbdI</string>
	<key>GCM_SENDER_ID</key>
	<string>960632255513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dagemabraham.buddingfinance</string>
	<key>PROJECT_ID</key>
	<string>buddingfinance-674bf</string>
	<key>STORAGE_BUCKET</key>
	<string>buddingfinance-674bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960632255513:ios:96462ea2fd550041c16688</string>
</dict>
</plist>